<div class="buton">
  <h1 style="">Öğrenci & Personel Servis Otomasyonu </h1>
  <a routerLink="login">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Kullanıcı Girisi
  </a>
  <a  routerLink="login" style="pointer-events: none">
  </a>
  <a routerLink="login">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Admin Girisi
  </a>
<!--  <p>Derlerki bazi hayatlar zaman içinde bağlıdır birbirine... <br>-->
<!--    Çağlar içinde yankı bulan eski bir çağrı ile zincirlidir ötekine...</p>-->
</div>
<div class="dizayn-footer" style="">
  Dizayn by İSA CİVAN
</div>
<div class="stars-wrapper">
  <svg class="stars" width="100%" height="100%" preserveAspectRatio="none">
    <circle class="star" cx="50.91%" cy="47.35%" r="0.8"></circle>
    <circle class="star" cx="58.54%" cy="79.75%" r="1.4"></circle>
    <circle class="star" cx="93.3%" cy="75.16%" r="1.1"></circle>
    <circle class="star" cx="22.14%" cy="19.43%" r="1.2"></circle>
    <circle class="star" cx="37.02%" cy="16.7%" r="0.5"></circle>
    <circle class="star" cx="64.29%" cy="44.08%" r="1.3"></circle>
    <circle class="star" cx="54.64%" cy="75.79%" r="1.3"></circle>
    <circle class="star" cx="48.76%" cy="97.07%" r="1"></circle>
    <circle class="star" cx="37.5%" cy="58.65%" r="0.7"></circle>
    <circle class="star" cx="24.54%" cy="61.98%" r="0.8"></circle>
    <circle class="star" cx="75.43%" cy="92.04%" r="1.2"></circle>
    <circle class="star" cx="56.13%" cy="68.81%" r="1.2"></circle>
    <circle class="star" cx="89.61%" cy="46.36%" r="1.2"></circle>
    <circle class="star" cx="17.94%" cy="27.36%" r="0.8"></circle>
    <circle class="star" cx="59.26%" cy="60.16%" r="0.6"></circle>
    <circle class="star" cx="23.75%" cy="98.54%" r="1.4"></circle>
    <circle class="star" cx="92.72%" cy="81.86%" r="1.4"></circle>
    <circle class="star" cx="95.57%" cy="54.69%" r="0.7"></circle>
    <circle class="star" cx="94.3%" cy="56.01%" r="1"></circle>
    <circle class="star" cx="54.35%" cy="19.66%" r="0.8"></circle>
    <circle class="star" cx="1.48%" cy="4.56%" r="0.6"></circle>
    <circle class="star" cx="21.49%" cy="13.54%" r="0.5"></circle>
    <circle class="star" cx="89.52%" cy="35.37%" r="1.3"></circle>
    <circle class="star" cx="35.5%" cy="23.41%" r="0.7"></circle>
    <circle class="star" cx="77.48%" cy="84.51%" r="0.8"></circle>
    <circle class="star" cx="4.43%" cy="22.69%" r="1.3"></circle>
    <circle class="star" cx="63.77%" cy="86.29%" r="0.9"></circle>
    <circle class="star" cx="94.82%" cy="38.28%" r="0.6"></circle>
    <circle class="star" cx="43.46%" cy="5.03%" r="0.5"></circle>
    <circle class="star" cx="37.3%" cy="54.7%" r="0.6"></circle>
    <circle class="star" cx="39.04%" cy="62.09%" r="1.1"></circle>
    <circle class="star" cx="40.82%" cy="77.5%" r="0.5"></circle>
    <circle class="star" cx="16%" cy="88.43%" r="0.8"></circle>
    <circle class="star" cx="64.44%" cy="44.83%" r="0.8"></circle>
    <circle class="star" cx="35.94%" cy="9.56%" r="0.5"></circle>
    <circle class="star" cx="49.25%" cy="41.04%" r="1.1"></circle>
    <circle class="star" cx="71.81%" cy="9.36%" r="0.9"></circle>
    <circle class="star" cx="59.65%" cy="63.67%" r="1"></circle>
    <circle class="star" cx="16.39%" cy="63.85%" r="0.5"></circle>
    <circle class="star" cx="85.2%" cy="79.62%" r="1.1"></circle>
    <circle class="star" cx="12.05%" cy="17.57%" r="1.4"></circle>
    <circle class="star" cx="5.21%" cy="7.59%" r="0.7"></circle>
    <circle class="star" cx="64.91%" cy="20.39%" r="0.6"></circle>
    <circle class="star" cx="26.4%" cy="3.89%" r="0.7"></circle>
    <circle class="star" cx="61.2%" cy="42.81%" r="0.6"></circle>
    <circle class="star" cx="10.37%" cy="88.38%" r="1"></circle>
    <circle class="star" cx="60.54%" cy="96.66%" r="1"></circle>
    <circle class="star" cx="35.84%" cy="17.03%" r="1.1"></circle>
    <circle class="star" cx="93.69%" cy="7.14%" r="1"></circle>
    <circle class="star" cx="27.48%" cy="93.75%" r="0.8"></circle>
    <circle class="star" cx="42.48%" cy="74.45%" r="1.1"></circle>
    <circle class="star" cx="66.51%" cy="59.56%" r="0.8"></circle>
    <circle class="star" cx="40.77%" cy="17.2%" r="0.6"></circle>
    <circle class="star" cx="45.47%" cy="68.24%" r="1.5"></circle>
    <circle class="star" cx="68.89%" cy="37.69%" r="0.7"></circle>
    <circle class="star" cx="25.67%" cy="61.25%" r="1.5"></circle>
    <circle class="star" cx="71.73%" cy="34.54%" r="1.1"></circle>
    <circle class="star" cx="0.49%" cy="73.29%" r="1.2"></circle>
    <circle class="star" cx="28.42%" cy="92.59%" r="0.7"></circle>
    <circle class="star" cx="22.85%" cy="70.98%" r="1"></circle>
    <circle class="star" cx="54.13%" cy="42.27%" r="1.2"></circle>
    <circle class="star" cx="71.04%" cy="53.71%" r="1.4"></circle>
    <circle class="star" cx="91.43%" cy="36.43%" r="1.1"></circle>
    <circle class="star" cx="85.96%" cy="50.31%" r="1.4"></circle>
    <circle class="star" cx="43.87%" cy="97.32%" r="1.2"></circle>
    <circle class="star" cx="38.53%" cy="95.61%" r="1.4"></circle>
    <circle class="star" cx="26%" cy="31.1%" r="0.8"></circle>
    <circle class="star" cx="2.44%" cy="49.08%" r="0.7"></circle>
    <circle class="star" cx="21.97%" cy="72.3%" r="0.5"></circle>
    <circle class="star" cx="69.25%" cy="58.46%" r="1.2"></circle>
    <circle class="star" cx="75.1%" cy="29.74%" r="0.7"></circle>
    <circle class="star" cx="98.64%" cy="5.42%" r="1"></circle>
    <circle class="star" cx="76.69%" cy="42.51%" r="1.3"></circle>
    <circle class="star" cx="23.27%" cy="42.71%" r="1"></circle>
    <circle class="star" cx="9.33%" cy="34.52%" r="1.4"></circle>
    <circle class="star" cx="81.51%" cy="21.93%" r="1"></circle>
    <circle class="star" cx="59.32%" cy="40.85%" r="1.5"></circle>
    <circle class="star" cx="56.89%" cy="14.16%" r="0.9"></circle>
    <circle class="star" cx="48.48%" cy="69.7%" r="1.4"></circle>
    <circle class="star" cx="47.22%" cy="67.05%" r="0.9"></circle>
    <circle class="star" cx="8.27%" cy="63.17%" r="1.3"></circle>
    <circle class="star" cx="22.56%" cy="37.41%" r="1.1"></circle>
    <circle class="star" cx="71.5%" cy="45.53%" r="1.2"></circle>
    <circle class="star" cx="70.63%" cy="82.33%" r="0.8"></circle>
    <circle class="star" cx="88.03%" cy="76.78%" r="0.8"></circle>
    <circle class="star" cx="60.86%" cy="60.26%" r="1.2"></circle>
    <circle class="star" cx="10.75%" cy="45.36%" r="0.9"></circle>
    <circle class="star" cx="24.37%" cy="47.87%" r="1.2"></circle>
    <circle class="star" cx="84.38%" cy="94.77%" r="0.8"></circle>
    <circle class="star" cx="76.8%" cy="99.13%" r="1"></circle>
    <circle class="star" cx="61.41%" cy="12.08%" r="0.5"></circle>
    <circle class="star" cx="25.85%" cy="71.3%" r="0.6"></circle>
    <circle class="star" cx="47.98%" cy="48.76%" r="0.8"></circle>
    <circle class="star" cx="56.24%" cy="25.65%" r="0.9"></circle>
    <circle class="star" cx="45.66%" cy="1.62%" r="0.7"></circle>
    <circle class="star" cx="78.77%" cy="1.22%" r="1.3"></circle>
    <circle class="star" cx="89.14%" cy="98.77%" r="1.3"></circle>
    <circle class="star" cx="33.73%" cy="85.04%" r="1"></circle>
    <circle class="star" cx="51.93%" cy="70.94%" r="0.5"></circle>
    <circle class="star" cx="64.41%" cy="73.05%" r="1.3"></circle>
    <circle class="star" cx="76.39%" cy="67.75%" r="1.2"></circle>
    <circle class="star" cx="64.35%" cy="91.75%" r="0.8"></circle>
    <circle class="star" cx="87.82%" cy="48.11%" r="0.5"></circle>
    <circle class="star" cx="26.44%" cy="4.52%" r="1.3"></circle>
    <circle class="star" cx="75.38%" cy="53.95%" r="0.9"></circle>
    <circle class="star" cx="85.66%" cy="1.87%" r="0.6"></circle>
    <circle class="star" cx="33.96%" cy="34.69%" r="1.2"></circle>
    <circle class="star" cx="84.71%" cy="67.49%" r="1.3"></circle>
    <circle class="star" cx="65.49%" cy="59.87%" r="0.7"></circle>
    <circle class="star" cx="50.73%" cy="75.72%" r="0.9"></circle>
    <circle class="star" cx="11.89%" cy="46.52%" r="1.3"></circle>
    <circle class="star" cx="80.5%" cy="74.97%" r="0.6"></circle>
    <circle class="star" cx="43.23%" cy="24.56%" r="1.3"></circle>
    <circle class="star" cx="39.86%" cy="21.15%" r="0.5"></circle>
    <circle class="star" cx="6.86%" cy="60.61%" r="1"></circle>
    <circle class="star" cx="65.61%" cy="80.95%" r="1.3"></circle>
    <circle class="star" cx="18.35%" cy="42.94%" r="1"></circle>
    <circle class="star" cx="9.24%" cy="96.31%" r="1.1"></circle>
    <circle class="star" cx="96.19%" cy="99.99%" r="1.4"></circle>
    <circle class="star" cx="26.62%" cy="9.41%" r="0.7"></circle>
    <circle class="star" cx="45.74%" cy="51.76%" r="0.9"></circle>
    <circle class="star" cx="15.77%" cy="96.74%" r="0.6"></circle>
    <circle class="star" cx="74.51%" cy="27.05%" r="1.3"></circle>
    <circle class="star" cx="41.46%" cy="28.25%" r="1.1"></circle>
    <circle class="star" cx="50.29%" cy="81.55%" r="0.5"></circle>
    <circle class="star" cx="33.56%" cy="4.61%" r="0.8"></circle>
    <circle class="star" cx="92.66%" cy="31.21%" r="1.1"></circle>
    <circle class="star" cx="9.78%" cy="40.61%" r="0.8"></circle>
    <circle class="star" cx="61.58%" cy="98.73%" r="1.3"></circle>
    <circle class="star" cx="22.78%" cy="4.07%" r="1.1"></circle>
    <circle class="star" cx="73.04%" cy="11.58%" r="0.8"></circle>
    <circle class="star" cx="29.75%" cy="63.54%" r="0.9"></circle>
    <circle class="star" cx="49.1%" cy="32.91%" r="0.6"></circle>
    <circle class="star" cx="52.62%" cy="35.64%" r="1"></circle>
    <circle class="star" cx="83.55%" cy="45.43%" r="1"></circle>
    <circle class="star" cx="23.34%" cy="25.43%" r="1.4"></circle>
    <circle class="star" cx="90.28%" cy="0.68%" r="1.3"></circle>
    <circle class="star" cx="27.05%" cy="30.53%" r="1.4"></circle>
    <circle class="star" cx="27.04%" cy="73.59%" r="0.6"></circle>
    <circle class="star" cx="44.98%" cy="13.77%" r="0.9"></circle>
    <circle class="star" cx="82.04%" cy="95.69%" r="0.8"></circle>
    <circle class="star" cx="9.49%" cy="88.46%" r="0.7"></circle>
    <circle class="star" cx="10.42%" cy="66.16%" r="1.4"></circle>
    <circle class="star" cx="23.18%" cy="49.38%" r="0.8"></circle>
    <circle class="star" cx="43.52%" cy="53.71%" r="1.1"></circle>
    <circle class="star" cx="26.65%" cy="79.58%" r="0.7"></circle>
    <circle class="star" cx="36.12%" cy="2.73%" r="1.1"></circle>
    <circle class="star" cx="2.01%" cy="94.77%" r="1.5"></circle>
    <circle class="star" cx="26.53%" cy="6.12%" r="1.3"></circle>
    <circle class="star" cx="64.82%" cy="47.9%" r="1.3"></circle>
    <circle class="star" cx="68%" cy="65.92%" r="1.4"></circle>
    <circle class="star" cx="31.3%" cy="57.59%" r="1.3"></circle>
    <circle class="star" cx="58.07%" cy="29.51%" r="0.8"></circle>
    <circle class="star" cx="97.56%" cy="61.72%" r="1.2"></circle>
    <circle class="star" cx="88.5%" cy="23.66%" r="0.8"></circle>
    <circle class="star" cx="43.99%" cy="21.26%" r="0.7"></circle>
    <circle class="star" cx="51.19%" cy="35.98%" r="1.3"></circle>
    <circle class="star" cx="18.15%" cy="86.43%" r="1.2"></circle>
    <circle class="star" cx="51.26%" cy="68.14%" r="1.4"></circle>
    <circle class="star" cx="11.85%" cy="41.96%" r="1.2"></circle>
    <circle class="star" cx="83.28%" cy="2.67%" r="1.2"></circle>
    <circle class="star" cx="45.62%" cy="58.9%" r="0.5"></circle>
    <circle class="star" cx="99.51%" cy="99.26%" r="1"></circle>
    <circle class="star" cx="43.34%" cy="39.65%" r="0.9"></circle>
    <circle class="star" cx="88.6%" cy="43.07%" r="0.6"></circle>
    <circle class="star" cx="49.74%" cy="38.88%" r="1.5"></circle>
    <circle class="star" cx="11.69%" cy="82.81%" r="0.7"></circle>
    <circle class="star" cx="91.75%" cy="44.11%" r="0.9"></circle>
    <circle class="star" cx="26.47%" cy="68.17%" r="0.6"></circle>
    <circle class="star" cx="21.73%" cy="21.34%" r="1.2"></circle>
    <circle class="star" cx="64.76%" cy="4.42%" r="1.5"></circle>
    <circle class="star" cx="87.56%" cy="57.89%" r="0.9"></circle>
    <circle class="star" cx="62.27%" cy="85.82%" r="0.8"></circle>
    <circle class="star" cx="14.58%" cy="96.61%" r="1.3"></circle>
    <circle class="star" cx="50.08%" cy="37.31%" r="1.3"></circle>
    <circle class="star" cx="59.5%" cy="15.61%" r="0.6"></circle>
    <circle class="star" cx="88.14%" cy="73.1%" r="1.2"></circle>
    <circle class="star" cx="57.42%" cy="69.42%" r="0.6"></circle>
    <circle class="star" cx="64.14%" cy="62.58%" r="0.7"></circle>
    <circle class="star" cx="26.68%" cy="3.71%" r="1.3"></circle>
    <circle class="star" cx="31.89%" cy="73.14%" r="0.7"></circle>
    <circle class="star" cx="82.02%" cy="79.1%" r="0.9"></circle>
    <circle class="star" cx="78.18%" cy="53.93%" r="0.7"></circle>
    <circle class="star" cx="95.96%" cy="37.06%" r="1.4"></circle>
    <circle class="star" cx="48.97%" cy="69.77%" r="0.9"></circle>
    <circle class="star" cx="39.3%" cy="44.99%" r="0.7"></circle>
    <circle class="star" cx="16.97%" cy="6.5%" r="1.3"></circle>
    <circle class="star" cx="80.46%" cy="86.26%" r="1"></circle>
    <circle class="star" cx="62.94%" cy="73.45%" r="0.9"></circle>
    <circle class="star" cx="52.59%" cy="60.07%" r="0.7"></circle>
    <circle class="star" cx="54.6%" cy="68.39%" r="0.9"></circle>
    <circle class="star" cx="70.7%" cy="66.86%" r="1.3"></circle>
    <circle class="star" cx="13.43%" cy="39.31%" r="0.7"></circle>
    <circle class="star" cx="76.81%" cy="49.63%" r="1.1"></circle>
    <circle class="star" cx="85.05%" cy="18.13%" r="0.7"></circle>
    <circle class="star" cx="66.38%" cy="22.21%" r="0.9"></circle>
    <circle class="star" cx="25.27%" cy="1.51%" r="1.3"></circle>
    <circle class="star" cx="16.2%" cy="30.12%" r="1.4"></circle>
    <circle class="star" cx="42.08%" cy="9.72%" r="0.9"></circle>
    <circle class="star" cx="95.36%" cy="55.66%" r="1.1"></circle>
  </svg>
  <svg class="stars" width="100%" height="100%" preserveAspectRatio="none">
    <circle class="star" cx="67.72%" cy="64.96%" r="0.8"></circle>
    <circle class="star" cx="80.89%" cy="66.49%" r="0.7"></circle>
    <circle class="star" cx="0.28%" cy="26.82%" r="1.1"></circle>
    <circle class="star" cx="98.71%" cy="78.71%" r="0.9"></circle>
    <circle class="star" cx="24.61%" cy="89%" r="0.7"></circle>
    <circle class="star" cx="33.53%" cy="21.11%" r="0.5"></circle>
    <circle class="star" cx="87.21%" cy="81.56%" r="0.6"></circle>
    <circle class="star" cx="43.18%" cy="82.61%" r="1.2"></circle>
    <circle class="star" cx="72.4%" cy="59.61%" r="1.4"></circle>
    <circle class="star" cx="7.53%" cy="25.75%" r="0.9"></circle>
    <circle class="star" cx="33.16%" cy="25.96%" r="1"></circle>
    <circle class="star" cx="15.44%" cy="69.23%" r="0.7"></circle>
    <circle class="star" cx="73.75%" cy="92.57%" r="1.1"></circle>
    <circle class="star" cx="78.77%" cy="53.63%" r="0.8"></circle>
    <circle class="star" cx="45.96%" cy="11%" r="1"></circle>
    <circle class="star" cx="46.58%" cy="53.85%" r="0.8"></circle>
    <circle class="star" cx="6.29%" cy="36.81%" r="0.5"></circle>
    <circle class="star" cx="48.32%" cy="78.77%" r="0.9"></circle>
    <circle class="star" cx="79.39%" cy="21.53%" r="1.4"></circle>
    <circle class="star" cx="76.04%" cy="98.74%" r="1.3"></circle>
    <circle class="star" cx="21.67%" cy="6.38%" r="1.1"></circle>
    <circle class="star" cx="81.86%" cy="30.8%" r="0.8"></circle>
    <circle class="star" cx="85.08%" cy="52.47%" r="0.8"></circle>
    <circle class="star" cx="14.7%" cy="40.55%" r="1.3"></circle>
    <circle class="star" cx="58.38%" cy="65.43%" r="1.3"></circle>
    <circle class="star" cx="78.3%" cy="6.8%" r="0.9"></circle>
    <circle class="star" cx="23.04%" cy="24.65%" r="0.5"></circle>
    <circle class="star" cx="68.57%" cy="21.64%" r="1.2"></circle>
    <circle class="star" cx="22.39%" cy="82%" r="1.2"></circle>
    <circle class="star" cx="73.25%" cy="4.72%" r="1"></circle>
    <circle class="star" cx="86.87%" cy="45.15%" r="1.1"></circle>
    <circle class="star" cx="2.47%" cy="98.99%" r="0.9"></circle>
    <circle class="star" cx="53.94%" cy="5.17%" r="0.7"></circle>
    <circle class="star" cx="40.92%" cy="15.88%" r="1"></circle>
    <circle class="star" cx="4.58%" cy="74.21%" r="1.3"></circle>
    <circle class="star" cx="61.13%" cy="89.79%" r="0.6"></circle>
    <circle class="star" cx="47.27%" cy="1.9%" r="0.9"></circle>
    <circle class="star" cx="58.83%" cy="8.22%" r="1.5"></circle>
    <circle class="star" cx="63.98%" cy="90.26%" r="1.2"></circle>
    <circle class="star" cx="36.07%" cy="21.65%" r="1.2"></circle>
    <circle class="star" cx="90.42%" cy="26.12%" r="0.9"></circle>
    <circle class="star" cx="79.31%" cy="6.76%" r="0.5"></circle>
    <circle class="star" cx="57.42%" cy="55.9%" r="0.7"></circle>
    <circle class="star" cx="7.4%" cy="47.96%" r="1.1"></circle>
    <circle class="star" cx="25.78%" cy="65.12%" r="1.3"></circle>
    <circle class="star" cx="49.93%" cy="0.46%" r="0.8"></circle>
    <circle class="star" cx="30.88%" cy="4.05%" r="0.7"></circle>
    <circle class="star" cx="94.73%" cy="82.91%" r="0.9"></circle>
    <circle class="star" cx="18.53%" cy="54.83%" r="1.3"></circle>
    <circle class="star" cx="5.47%" cy="21.48%" r="0.7"></circle>
    <circle class="star" cx="47.21%" cy="23.24%" r="0.6"></circle>
    <circle class="star" cx="28.54%" cy="62.72%" r="1.2"></circle>
    <circle class="star" cx="63.65%" cy="78.21%" r="1"></circle>
    <circle class="star" cx="52.55%" cy="50.08%" r="1.3"></circle>
    <circle class="star" cx="40.71%" cy="34.4%" r="1.2"></circle>
    <circle class="star" cx="95.64%" cy="2.99%" r="1"></circle>
    <circle class="star" cx="65.64%" cy="89.85%" r="0.7"></circle>
    <circle class="star" cx="55.44%" cy="17.12%" r="1.2"></circle>
    <circle class="star" cx="89.43%" cy="92.62%" r="0.7"></circle>
    <circle class="star" cx="99.82%" cy="71.49%" r="0.6"></circle>
    <circle class="star" cx="42.17%" cy="14.73%" r="1.1"></circle>
    <circle class="star" cx="9.09%" cy="73.83%" r="0.7"></circle>
    <circle class="star" cx="61.92%" cy="24.19%" r="1.2"></circle>
    <circle class="star" cx="17.79%" cy="79.88%" r="1"></circle>
    <circle class="star" cx="72.31%" cy="25.36%" r="0.5"></circle>
    <circle class="star" cx="72.92%" cy="7.87%" r="1"></circle>
    <circle class="star" cx="78.45%" cy="33.46%" r="1.3"></circle>
    <circle class="star" cx="79.53%" cy="88.66%" r="1.2"></circle>
    <circle class="star" cx="30.58%" cy="72.76%" r="0.8"></circle>
    <circle class="star" cx="97.11%" cy="51.05%" r="1.3"></circle>
    <circle class="star" cx="64.68%" cy="13.62%" r="1.1"></circle>
    <circle class="star" cx="4.25%" cy="73.87%" r="0.9"></circle>
    <circle class="star" cx="59.59%" cy="4.22%" r="1.3"></circle>
    <circle class="star" cx="37.49%" cy="89.87%" r="0.8"></circle>
    <circle class="star" cx="26.3%" cy="4.56%" r="1.5"></circle>
    <circle class="star" cx="30.49%" cy="80.39%" r="0.9"></circle>
    <circle class="star" cx="83.38%" cy="50.81%" r="0.6"></circle>
    <circle class="star" cx="13.99%" cy="4.52%" r="0.8"></circle>
    <circle class="star" cx="69.69%" cy="52.43%" r="1.1"></circle>
    <circle class="star" cx="81.22%" cy="50.44%" r="0.9"></circle>
    <circle class="star" cx="33.08%" cy="27.52%" r="0.9"></circle>
    <circle class="star" cx="89.93%" cy="40.46%" r="0.8"></circle>
    <circle class="star" cx="88.58%" cy="45.68%" r="1.4"></circle>
    <circle class="star" cx="95.49%" cy="21.19%" r="0.9"></circle>
    <circle class="star" cx="36.38%" cy="10.61%" r="1.1"></circle>
    <circle class="star" cx="86.03%" cy="23.94%" r="1.1"></circle>
    <circle class="star" cx="34.13%" cy="21.99%" r="1.1"></circle>
    <circle class="star" cx="44.71%" cy="5.22%" r="0.6"></circle>
    <circle class="star" cx="43.39%" cy="33.28%" r="0.6"></circle>
    <circle class="star" cx="6.25%" cy="41.81%" r="1.5"></circle>
    <circle class="star" cx="69.8%" cy="7.04%" r="1.1"></circle>
    <circle class="star" cx="5.59%" cy="71.04%" r="1.1"></circle>
    <circle class="star" cx="75.71%" cy="72.07%" r="0.5"></circle>
    <circle class="star" cx="34.33%" cy="10.36%" r="1.4"></circle>
    <circle class="star" cx="18.17%" cy="80.99%" r="0.7"></circle>
    <circle class="star" cx="32.58%" cy="19.3%" r="1.3"></circle>
    <circle class="star" cx="42.49%" cy="8.54%" r="1"></circle>
    <circle class="star" cx="93.74%" cy="39.15%" r="0.8"></circle>
    <circle class="star" cx="32.1%" cy="25.75%" r="0.7"></circle>
    <circle class="star" cx="62.67%" cy="51.21%" r="0.9"></circle>
    <circle class="star" cx="96.62%" cy="8.89%" r="0.7"></circle>
    <circle class="star" cx="8.68%" cy="23.18%" r="0.7"></circle>
    <circle class="star" cx="81.49%" cy="61.79%" r="1"></circle>
    <circle class="star" cx="65.5%" cy="99.26%" r="0.8"></circle>
    <circle class="star" cx="90.47%" cy="6.9%" r="0.9"></circle>
    <circle class="star" cx="10.45%" cy="22.76%" r="1"></circle>
    <circle class="star" cx="91.19%" cy="41.45%" r="0.6"></circle>
    <circle class="star" cx="11.78%" cy="22.98%" r="0.8"></circle>
    <circle class="star" cx="9.91%" cy="92.03%" r="1.2"></circle>
    <circle class="star" cx="86.29%" cy="11.15%" r="1.1"></circle>
    <circle class="star" cx="43.89%" cy="31.89%" r="0.7"></circle>
    <circle class="star" cx="27.56%" cy="12.86%" r="1.4"></circle>
    <circle class="star" cx="63.56%" cy="58.73%" r="1.4"></circle>
    <circle class="star" cx="71.77%" cy="40%" r="1.2"></circle>
    <circle class="star" cx="66.72%" cy="11.08%" r="1"></circle>
    <circle class="star" cx="5.38%" cy="42.91%" r="0.6"></circle>
    <circle class="star" cx="53.08%" cy="69.82%" r="1"></circle>
    <circle class="star" cx="98.38%" cy="51.96%" r="1"></circle>
    <circle class="star" cx="16.35%" cy="5.53%" r="1.4"></circle>
    <circle class="star" cx="99.61%" cy="57.13%" r="1"></circle>
    <circle class="star" cx="62.75%" cy="2.18%" r="0.5"></circle>
    <circle class="star" cx="90.16%" cy="17.69%" r="0.8"></circle>
    <circle class="star" cx="21.83%" cy="20.62%" r="1.4"></circle>
    <circle class="star" cx="89.72%" cy="94.31%" r="0.8"></circle>
    <circle class="star" cx="79.35%" cy="19.5%" r="1.3"></circle>
    <circle class="star" cx="21.25%" cy="21.29%" r="1.2"></circle>
    <circle class="star" cx="43.29%" cy="26.15%" r="1.4"></circle>
    <circle class="star" cx="65.44%" cy="54.26%" r="1.3"></circle>
    <circle class="star" cx="18.37%" cy="14.4%" r="0.9"></circle>
    <circle class="star" cx="98.73%" cy="19.69%" r="1.4"></circle>
    <circle class="star" cx="93.33%" cy="22.25%" r="1.5"></circle>
    <circle class="star" cx="35.15%" cy="97.91%" r="0.9"></circle>
    <circle class="star" cx="3.17%" cy="99.48%" r="1.2"></circle>
    <circle class="star" cx="97.41%" cy="0.24%" r="0.7"></circle>
    <circle class="star" cx="47.72%" cy="81.09%" r="0.7"></circle>
    <circle class="star" cx="92.89%" cy="20.8%" r="1.5"></circle>
    <circle class="star" cx="39.78%" cy="72.28%" r="1.4"></circle>
    <circle class="star" cx="95.09%" cy="3.28%" r="0.7"></circle>
    <circle class="star" cx="14.68%" cy="4.58%" r="0.8"></circle>
    <circle class="star" cx="94.27%" cy="72.86%" r="0.5"></circle>
    <circle class="star" cx="72.96%" cy="73.94%" r="0.6"></circle>
    <circle class="star" cx="2.5%" cy="61.9%" r="0.7"></circle>
    <circle class="star" cx="88.9%" cy="84.28%" r="0.7"></circle>
    <circle class="star" cx="67.4%" cy="36.59%" r="1.4"></circle>
    <circle class="star" cx="89.64%" cy="99.89%" r="1.2"></circle>
    <circle class="star" cx="23.65%" cy="74.31%" r="1.1"></circle>
    <circle class="star" cx="46.3%" cy="68.3%" r="0.8"></circle>
    <circle class="star" cx="43.61%" cy="36.84%" r="1.4"></circle>
    <circle class="star" cx="84.99%" cy="61.54%" r="0.7"></circle>
    <circle class="star" cx="10.27%" cy="28.24%" r="0.7"></circle>
    <circle class="star" cx="7.19%" cy="83.55%" r="1.1"></circle>
    <circle class="star" cx="93.62%" cy="64.41%" r="0.9"></circle>
    <circle class="star" cx="82.22%" cy="84.66%" r="1.2"></circle>
    <circle class="star" cx="44.4%" cy="18.52%" r="1.5"></circle>
    <circle class="star" cx="64.36%" cy="74.67%" r="1.3"></circle>
    <circle class="star" cx="58.46%" cy="67.64%" r="0.6"></circle>
    <circle class="star" cx="42.86%" cy="37.65%" r="0.9"></circle>
    <circle class="star" cx="52.13%" cy="48.29%" r="0.5"></circle>
    <circle class="star" cx="48.61%" cy="33.84%" r="0.5"></circle>
    <circle class="star" cx="87.23%" cy="2.68%" r="0.8"></circle>
    <circle class="star" cx="53.2%" cy="81.27%" r="0.9"></circle>
    <circle class="star" cx="20.71%" cy="29.27%" r="1.4"></circle>
    <circle class="star" cx="62.72%" cy="77.17%" r="0.9"></circle>
    <circle class="star" cx="96.5%" cy="4.84%" r="0.8"></circle>
    <circle class="star" cx="36.92%" cy="24.94%" r="1"></circle>
    <circle class="star" cx="67.06%" cy="30.6%" r="1"></circle>
    <circle class="star" cx="55.4%" cy="44.81%" r="1.4"></circle>
    <circle class="star" cx="14.16%" cy="68.67%" r="0.8"></circle>
    <circle class="star" cx="73.46%" cy="51.38%" r="0.5"></circle>
    <circle class="star" cx="76.31%" cy="54.92%" r="1.3"></circle>
    <circle class="star" cx="46.06%" cy="20.11%" r="1.2"></circle>
    <circle class="star" cx="94.53%" cy="83.18%" r="1.4"></circle>
    <circle class="star" cx="77.23%" cy="82.83%" r="0.9"></circle>
    <circle class="star" cx="59.51%" cy="76.56%" r="0.6"></circle>
    <circle class="star" cx="21.48%" cy="50.43%" r="0.6"></circle>
    <circle class="star" cx="15.31%" cy="0.09%" r="1.5"></circle>
    <circle class="star" cx="15.74%" cy="83.9%" r="0.8"></circle>
    <circle class="star" cx="24.87%" cy="53.82%" r="1.4"></circle>
    <circle class="star" cx="10.53%" cy="77.29%" r="1"></circle>
    <circle class="star" cx="45.88%" cy="44.71%" r="0.9"></circle>
    <circle class="star" cx="55.16%" cy="90.42%" r="0.7"></circle>
    <circle class="star" cx="65.9%" cy="89.92%" r="1.4"></circle>
    <circle class="star" cx="19.75%" cy="9.85%" r="1.1"></circle>
    <circle class="star" cx="54.98%" cy="11.63%" r="1.2"></circle>
    <circle class="star" cx="9.02%" cy="19.24%" r="1.4"></circle>
    <circle class="star" cx="96.93%" cy="29.94%" r="0.7"></circle>
    <circle class="star" cx="34.16%" cy="52.4%" r="1.5"></circle>
    <circle class="star" cx="54.95%" cy="20.37%" r="0.7"></circle>
    <circle class="star" cx="38.27%" cy="72.65%" r="1"></circle>
    <circle class="star" cx="6.38%" cy="44.78%" r="0.8"></circle>
    <circle class="star" cx="6.08%" cy="0.63%" r="0.7"></circle>
    <circle class="star" cx="34.46%" cy="29.7%" r="0.9"></circle>
    <circle class="star" cx="25.33%" cy="26.67%" r="1.3"></circle>
    <circle class="star" cx="94.8%" cy="13.19%" r="0.5"></circle>
    <circle class="star" cx="92.3%" cy="59.2%" r="1.2"></circle>
    <circle class="star" cx="5.9%" cy="57.12%" r="1.4"></circle>
    <circle class="star" cx="84.99%" cy="83.84%" r="0.9"></circle>
    <circle class="star" cx="14.65%" cy="62.27%" r="0.7"></circle>
    <circle class="star" cx="57.76%" cy="80.01%" r="1.3"></circle>
    <circle class="star" cx="84.04%" cy="57.86%" r="0.9"></circle>
  </svg>
  <svg class="stars" width="100%" height="100%" preserveAspectRatio="none">
    <circle class="star" cx="1.12%" cy="61.19%" r="1.4"></circle>
    <circle class="star" cx="11.83%" cy="81.69%" r="1.3"></circle>
    <circle class="star" cx="54.5%" cy="16.32%" r="1.5"></circle>
    <circle class="star" cx="86.29%" cy="9.31%" r="0.7"></circle>
    <circle class="star" cx="98.14%" cy="41.15%" r="0.8"></circle>
    <circle class="star" cx="42.32%" cy="0.66%" r="0.7"></circle>
    <circle class="star" cx="38.55%" cy="38.64%" r="1.4"></circle>
    <circle class="star" cx="55.19%" cy="34.09%" r="0.9"></circle>
    <circle class="star" cx="13.09%" cy="39.53%" r="0.7"></circle>
    <circle class="star" cx="35.68%" cy="30.07%" r="1.4"></circle>
    <circle class="star" cx="6.86%" cy="8.88%" r="0.6"></circle>
    <circle class="star" cx="1.47%" cy="95.76%" r="0.6"></circle>
    <circle class="star" cx="45.31%" cy="24.71%" r="1.2"></circle>
    <circle class="star" cx="51.66%" cy="76.66%" r="0.7"></circle>
    <circle class="star" cx="44.21%" cy="62.23%" r="0.7"></circle>
    <circle class="star" cx="50.01%" cy="27.56%" r="1.2"></circle>
    <circle class="star" cx="88.72%" cy="63.03%" r="0.6"></circle>
    <circle class="star" cx="91.02%" cy="35.8%" r="1.4"></circle>
    <circle class="star" cx="14.24%" cy="65.21%" r="1.3"></circle>
    <circle class="star" cx="10.25%" cy="67.21%" r="0.9"></circle>
    <circle class="star" cx="85.8%" cy="67.49%" r="0.7"></circle>
    <circle class="star" cx="63.39%" cy="15.16%" r="0.8"></circle>
    <circle class="star" cx="35.72%" cy="1.2%" r="0.6"></circle>
    <circle class="star" cx="37.23%" cy="1.64%" r="0.9"></circle>
    <circle class="star" cx="91.04%" cy="45.88%" r="1.3"></circle>
    <circle class="star" cx="17.74%" cy="75.17%" r="1.3"></circle>
    <circle class="star" cx="1.8%" cy="71.34%" r="1.2"></circle>
    <circle class="star" cx="49.4%" cy="7.04%" r="0.7"></circle>
    <circle class="star" cx="85.99%" cy="63.22%" r="1.4"></circle>
    <circle class="star" cx="64.74%" cy="78.9%" r="0.8"></circle>
    <circle class="star" cx="90.83%" cy="73.72%" r="1.2"></circle>
    <circle class="star" cx="14.92%" cy="82.91%" r="1.5"></circle>
    <circle class="star" cx="95.27%" cy="17.34%" r="0.6"></circle>
    <circle class="star" cx="38.47%" cy="90.13%" r="1.2"></circle>
    <circle class="star" cx="98.25%" cy="71.88%" r="0.8"></circle>
    <circle class="star" cx="9.65%" cy="78.65%" r="0.5"></circle>
    <circle class="star" cx="64.89%" cy="30.07%" r="0.8"></circle>
    <circle class="star" cx="5.39%" cy="42.04%" r="0.8"></circle>
    <circle class="star" cx="34.26%" cy="32.89%" r="0.9"></circle>
    <circle class="star" cx="91.37%" cy="80.59%" r="1.2"></circle>
    <circle class="star" cx="36.41%" cy="47.06%" r="1.5"></circle>
    <circle class="star" cx="5.23%" cy="25.99%" r="1"></circle>
    <circle class="star" cx="29.74%" cy="21.96%" r="1.2"></circle>
    <circle class="star" cx="62.59%" cy="89.86%" r="1.2"></circle>
    <circle class="star" cx="51.22%" cy="22.49%" r="0.8"></circle>
    <circle class="star" cx="15.35%" cy="5.99%" r="1.1"></circle>
    <circle class="star" cx="70.19%" cy="4.89%" r="1.5"></circle>
    <circle class="star" cx="13.7%" cy="78.58%" r="1"></circle>
    <circle class="star" cx="69.85%" cy="65.65%" r="0.9"></circle>
    <circle class="star" cx="11.21%" cy="42.66%" r="1"></circle>
    <circle class="star" cx="42.08%" cy="23.51%" r="0.6"></circle>
    <circle class="star" cx="3.34%" cy="60.91%" r="0.9"></circle>
    <circle class="star" cx="64.73%" cy="41.15%" r="1.1"></circle>
    <circle class="star" cx="54.25%" cy="27.65%" r="0.7"></circle>
    <circle class="star" cx="39.51%" cy="44.48%" r="0.6"></circle>
    <circle class="star" cx="90.52%" cy="79.87%" r="0.9"></circle>
    <circle class="star" cx="28.79%" cy="59.5%" r="0.7"></circle>
    <circle class="star" cx="38.71%" cy="64.84%" r="1.2"></circle>
    <circle class="star" cx="96.98%" cy="93.32%" r="0.7"></circle>
    <circle class="star" cx="45.07%" cy="17.67%" r="1.4"></circle>
    <circle class="star" cx="54.66%" cy="2.11%" r="0.6"></circle>
    <circle class="star" cx="83.97%" cy="28.23%" r="0.6"></circle>
    <circle class="star" cx="38.58%" cy="43.28%" r="1"></circle>
    <circle class="star" cx="67.16%" cy="74.11%" r="0.5"></circle>
    <circle class="star" cx="55.36%" cy="4.25%" r="1"></circle>
    <circle class="star" cx="7.96%" cy="66.56%" r="1.1"></circle>
    <circle class="star" cx="59.96%" cy="9.74%" r="1.2"></circle>
    <circle class="star" cx="80%" cy="49.53%" r="0.7"></circle>
    <circle class="star" cx="19.22%" cy="59.22%" r="0.9"></circle>
    <circle class="star" cx="82.33%" cy="55.57%" r="1.3"></circle>
    <circle class="star" cx="36.1%" cy="99.82%" r="1.2"></circle>
    <circle class="star" cx="90.69%" cy="94.76%" r="0.5"></circle>
    <circle class="star" cx="28.07%" cy="76.34%" r="0.7"></circle>
    <circle class="star" cx="12.24%" cy="50.29%" r="1.3"></circle>
    <circle class="star" cx="3.19%" cy="70.24%" r="1"></circle>
    <circle class="star" cx="77.68%" cy="8.97%" r="0.7"></circle>
    <circle class="star" cx="23.56%" cy="52.09%" r="0.8"></circle>
    <circle class="star" cx="68.13%" cy="80.66%" r="0.7"></circle>
    <circle class="star" cx="58.19%" cy="20.79%" r="1"></circle>
    <circle class="star" cx="60.67%" cy="79.79%" r="1.3"></circle>
    <circle class="star" cx="83.89%" cy="37.53%" r="1.4"></circle>
    <circle class="star" cx="92.93%" cy="6.04%" r="0.9"></circle>
    <circle class="star" cx="41.91%" cy="47.52%" r="0.9"></circle>
    <circle class="star" cx="14.9%" cy="24.78%" r="0.7"></circle>
    <circle class="star" cx="95.49%" cy="13.19%" r="0.6"></circle>
    <circle class="star" cx="52.99%" cy="66.81%" r="1.4"></circle>
    <circle class="star" cx="22.28%" cy="76.49%" r="1.1"></circle>
    <circle class="star" cx="74.68%" cy="98.56%" r="0.9"></circle>
    <circle class="star" cx="58.87%" cy="53.48%" r="1"></circle>
    <circle class="star" cx="63.32%" cy="96.59%" r="1.4"></circle>
    <circle class="star" cx="73.57%" cy="65.86%" r="0.8"></circle>
    <circle class="star" cx="4.05%" cy="47.23%" r="1.4"></circle>
    <circle class="star" cx="85.11%" cy="28.93%" r="0.9"></circle>
    <circle class="star" cx="18.23%" cy="9.57%" r="0.7"></circle>
    <circle class="star" cx="74.54%" cy="8.34%" r="0.6"></circle>
    <circle class="star" cx="80.88%" cy="10.34%" r="0.7"></circle>
    <circle class="star" cx="67.98%" cy="30.41%" r="1.3"></circle>
    <circle class="star" cx="24.6%" cy="53.77%" r="1.3"></circle>
    <circle class="star" cx="10.97%" cy="67.2%" r="0.6"></circle>
    <circle class="star" cx="66.43%" cy="86.7%" r="0.6"></circle>
    <circle class="star" cx="43.4%" cy="98.71%" r="1.5"></circle>
    <circle class="star" cx="52.07%" cy="10.11%" r="1.4"></circle>
    <circle class="star" cx="10.96%" cy="99.8%" r="0.6"></circle>
    <circle class="star" cx="37.02%" cy="44.82%" r="1.4"></circle>
    <circle class="star" cx="29.52%" cy="45.88%" r="0.9"></circle>
    <circle class="star" cx="69.77%" cy="78.64%" r="0.8"></circle>
    <circle class="star" cx="39.61%" cy="80.39%" r="1"></circle>
    <circle class="star" cx="5.69%" cy="57.05%" r="0.7"></circle>
    <circle class="star" cx="52.89%" cy="85.71%" r="1.2"></circle>
    <circle class="star" cx="70.18%" cy="92.99%" r="0.9"></circle>
    <circle class="star" cx="63.18%" cy="22.2%" r="1.4"></circle>
    <circle class="star" cx="60.51%" cy="36.28%" r="1.4"></circle>
    <circle class="star" cx="26.97%" cy="66.04%" r="1.4"></circle>
    <circle class="star" cx="96.1%" cy="69.75%" r="0.5"></circle>
    <circle class="star" cx="82.17%" cy="57.98%" r="1.5"></circle>
    <circle class="star" cx="31.79%" cy="17.14%" r="1.2"></circle>
    <circle class="star" cx="98.85%" cy="58.95%" r="1.4"></circle>
    <circle class="star" cx="23.28%" cy="36.46%" r="1.4"></circle>
    <circle class="star" cx="17.62%" cy="5.06%" r="1.3"></circle>
    <circle class="star" cx="62.52%" cy="17.19%" r="0.8"></circle>
    <circle class="star" cx="79.97%" cy="1.8%" r="0.7"></circle>
    <circle class="star" cx="49.18%" cy="5.44%" r="0.5"></circle>
    <circle class="star" cx="76.46%" cy="77.42%" r="1"></circle>
    <circle class="star" cx="93.96%" cy="47.37%" r="1.3"></circle>
    <circle class="star" cx="66.4%" cy="83.81%" r="0.8"></circle>
    <circle class="star" cx="83.09%" cy="93.87%" r="1.4"></circle>
    <circle class="star" cx="54.35%" cy="52.98%" r="1.5"></circle>
    <circle class="star" cx="44.64%" cy="35.1%" r="0.9"></circle>
    <circle class="star" cx="85.01%" cy="4.77%" r="0.7"></circle>
    <circle class="star" cx="48.22%" cy="20.04%" r="0.7"></circle>
    <circle class="star" cx="29.19%" cy="20.48%" r="0.5"></circle>
    <circle class="star" cx="99.04%" cy="35.11%" r="1.1"></circle>
    <circle class="star" cx="70.48%" cy="89.44%" r="0.8"></circle>
    <circle class="star" cx="66.06%" cy="16.38%" r="1.2"></circle>
    <circle class="star" cx="37.25%" cy="95.61%" r="0.6"></circle>
    <circle class="star" cx="73.03%" cy="63.6%" r="0.8"></circle>
    <circle class="star" cx="90.57%" cy="96.5%" r="1.4"></circle>
    <circle class="star" cx="90.59%" cy="18.68%" r="0.8"></circle>
    <circle class="star" cx="60.01%" cy="26.72%" r="1.3"></circle>
    <circle class="star" cx="29.55%" cy="85.06%" r="0.7"></circle>
    <circle class="star" cx="60.32%" cy="19.52%" r="1.3"></circle>
    <circle class="star" cx="71.66%" cy="55.32%" r="1.1"></circle>
    <circle class="star" cx="1.98%" cy="72.94%" r="1.2"></circle>
    <circle class="star" cx="70.62%" cy="59.61%" r="1.2"></circle>
    <circle class="star" cx="54.69%" cy="36.62%" r="0.7"></circle>
    <circle class="star" cx="44.02%" cy="45.31%" r="0.8"></circle>
    <circle class="star" cx="57.84%" cy="90.54%" r="1.3"></circle>
    <circle class="star" cx="89.58%" cy="29.59%" r="0.9"></circle>
    <circle class="star" cx="93.95%" cy="29.85%" r="0.8"></circle>
    <circle class="star" cx="65.66%" cy="65.87%" r="0.5"></circle>
    <circle class="star" cx="61.56%" cy="6.54%" r="1.3"></circle>
    <circle class="star" cx="98.38%" cy="86.72%" r="0.5"></circle>
    <circle class="star" cx="67.59%" cy="96.25%" r="0.5"></circle>
    <circle class="star" cx="15.91%" cy="76.27%" r="0.6"></circle>
    <circle class="star" cx="54.24%" cy="9.63%" r="0.8"></circle>
    <circle class="star" cx="71.52%" cy="8.58%" r="0.8"></circle>
    <circle class="star" cx="76.89%" cy="62.13%" r="1.3"></circle>
    <circle class="star" cx="62.01%" cy="13.92%" r="0.9"></circle>
    <circle class="star" cx="1.36%" cy="96.34%" r="0.6"></circle>
    <circle class="star" cx="64.76%" cy="78.44%" r="0.6"></circle>
    <circle class="star" cx="58.38%" cy="84.56%" r="0.5"></circle>
    <circle class="star" cx="8.21%" cy="79.06%" r="1.3"></circle>
    <circle class="star" cx="78.71%" cy="31.71%" r="0.6"></circle>
    <circle class="star" cx="96.87%" cy="35.28%" r="1.1"></circle>
    <circle class="star" cx="45.32%" cy="77.62%" r="0.7"></circle>
    <circle class="star" cx="90.73%" cy="82.38%" r="1.4"></circle>
    <circle class="star" cx="82.09%" cy="20.1%" r="1"></circle>
    <circle class="star" cx="89.05%" cy="90.38%" r="1.5"></circle>
    <circle class="star" cx="65.59%" cy="29.72%" r="0.6"></circle>
    <circle class="star" cx="2.13%" cy="41.71%" r="0.8"></circle>
    <circle class="star" cx="84.61%" cy="39.2%" r="1.4"></circle>
    <circle class="star" cx="72.98%" cy="45.05%" r="0.8"></circle>
    <circle class="star" cx="35.09%" cy="74.74%" r="0.5"></circle>
    <circle class="star" cx="91.63%" cy="13.67%" r="0.9"></circle>
    <circle class="star" cx="33.49%" cy="66.51%" r="1.2"></circle>
    <circle class="star" cx="98.49%" cy="32.07%" r="1.3"></circle>
    <circle class="star" cx="1.47%" cy="58.53%" r="0.7"></circle>
    <circle class="star" cx="18.15%" cy="38.63%" r="1.1"></circle>
    <circle class="star" cx="6.01%" cy="18.89%" r="1"></circle>
    <circle class="star" cx="87.97%" cy="12.71%" r="1.1"></circle>
    <circle class="star" cx="90.08%" cy="7.64%" r="0.9"></circle>
    <circle class="star" cx="85.76%" cy="31.9%" r="1.5"></circle>
    <circle class="star" cx="55.34%" cy="53.9%" r="1"></circle>
    <circle class="star" cx="39.18%" cy="47.31%" r="1.2"></circle>
    <circle class="star" cx="99.56%" cy="28.48%" r="0.5"></circle>
    <circle class="star" cx="38.53%" cy="18.34%" r="0.6"></circle>
    <circle class="star" cx="78.6%" cy="83.94%" r="0.6"></circle>
    <circle class="star" cx="8.55%" cy="5.57%" r="1.5"></circle>
    <circle class="star" cx="95.9%" cy="59.96%" r="1.5"></circle>
    <circle class="star" cx="30.04%" cy="85.82%" r="1.4"></circle>
    <circle class="star" cx="84.04%" cy="6.44%" r="0.9"></circle>
    <circle class="star" cx="12.95%" cy="93.86%" r="0.7"></circle>
    <circle class="star" cx="15.55%" cy="72.59%" r="1.5"></circle>
    <circle class="star" cx="53.79%" cy="44.72%" r="1.4"></circle>
    <circle class="star" cx="56.2%" cy="70.25%" r="1.4"></circle>
    <circle class="star" cx="45.46%" cy="76.95%" r="1.3"></circle>
    <circle class="star" cx="37.92%" cy="29.72%" r="0.6"></circle>
    <circle class="star" cx="43.28%" cy="84.13%" r="0.7"></circle>
    <circle class="star" cx="51.98%" cy="46.52%" r="0.8"></circle>
    <circle class="star" cx="89.16%" cy="72.84%" r="0.6"></circle>
  </svg>
  <svg class="extras" width="100%" height="100%" preserveAspectRatio="none">
    <defs>
      <radialGradient id="comet-gradient" cx="0" cy=".5" r="0.5">
      <stop offset="0%" stop-color="rgba(255,255,255,.8)"></stop>
      <stop offset="100%" stop-color="rgba(255,255,255,0)"></stop>
      </radialGradient>
    </defs>
    <g transform="rotate(-135)">
      <ellipse class="comet comet-a" fill="url(#comet-gradient)" cx="0" cy="0" rx="150" ry="2"></ellipse>
    </g>
    <g transform="rotate(20)">
      <ellipse class="comet comet-b" fill="url(#comet-gradient)" cx="100%" cy="0" rx="150" ry="2"></ellipse>
    </g>
    <g transform="rotate(300)">
      <ellipse class="comet comet-c" fill="url(#comet-gradient)" cx="40%" cy="100%" rx="150" ry="2"></ellipse>
    </g>
  </svg>
</div>
